.logo{
    width: 100px;
}

body{
    background: #f3f3f3;
    /*width: 100%;*/
    /*min-width: 100%;*/
}

.left{
    width: 400px;
    height:350px;
    margin: 0 50px;
    margin-left: 850px;
    /*overflow: auto;*/
    padding: 10px;
    float: right;
    margin-top: 280px;
    position: absolute;
    z-index: -1;
}

.main{
    width: 780px;
    /*margin-left: 140px;*/
    float: left;
    overflow: hidden;
    padding: 10px;
    margin-top: 10px;
    position: absolute;
    z-index: -1;
}

.right{
    background: rgba(255, 255, 255, 0.6);
    width: 400px;
    height:200px;
    /*margin: 0 auto;*/
    margin-left: 850px;
    /*overflow: auto;*/
    padding: 10px;
    float: right;
    margin-top: 20px;
    position: absolute;
    z-index: -1;
}

.bottom{
    /*margin-bottom: 10px;*/
    margin-top: 800px;
    /*position: absolute;*/
}

.page-title{
    text-align: center;
}
